<header id="header" class="bg-[#001c7f] text-white px-4 fixed top-0 left-0 right-0 shadow-lg z-50">
  <div class="container mx-auto flex items-center justify-between h-16 sm:h-20">

    <!-- Logo + Nombre -->
    <div id="logo" class="flex items-center gap-2">
      <img src="../assets/img/image-Photoroom.png" alt="Logo Trendify"
        class="h-12 w-12 sm:h-14 sm:w-14 md:h-16 md:w-16 animate-bounce group-hover:animate-none">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-bold">
        Trendify
      </h1>
    </div>

    <!-- Texto Domicilio -->
    <nav class="hidden sm:flex items-center gap-2 font-archivo-black text-xs sm:text-sm md:text-lg">
      <ion-icon name="car-sport-outline" class="text-[#8fff00] text-lg sm:text-xl md:text-2xl"></ion-icon>
      <span class="whitespace-nowrap text-[#8fff00]">DOMICILIO 100% GRATIS</span>
    </nav>

  </div>
</header>
